<h3>Reports</h3>

<div class="table-responsive"  id="reports_table">
	<table>    
		<tbody>
			<tr>
				<td></td>
				<td>
					<p>List of Takers</p>
				</td>
				<td>	
					<p>				
						<button class="inline btn btn-default icon" data-ng-click="">
							<span class="glyphicon PdfIcon">PDF</span>
						</button>						
						
						<button class="inline btn btn-default icon" data-ng-click="">
							<span class="glyphicon ExcelIcon">EXCEL</span>
						</button>					
					</p>
				</td>	
			</tr>
			<tr>
				<td></td>		
				<td>
					<p>Takers by gender</p>
				</td>
				<td>	
					<p>				
						<button class="inline btn btn-default icon" data-ng-click="">
							<span class="glyphicon PdfIcon">PDF</span>
						</button>						
						
						<button class="inline btn btn-default icon" data-ng-click="">
							<span class="glyphicon ExcelIcon">EXCEL</span>
						</button>					
					</p>
				</td>	
			</tr>
			
		</tbody> 
	</table>
   
</div>






